version: "3.7"

services:
  # ------------------------------
  # PROMETHEUS
  # ------------------------------
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - ms-network

  # ------------------------------
  # GRAFANA
  # ------------------------------
  grafana:
    image: grafana/grafana
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    networks:
      - ms-network
networks:
  ms-network:
    driver: bridge
