<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/app.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSSS} | %X{reqId} | %p | %C.%M \(%class{0}.java:%line\) | - %m%n
			</Pattern>
		</layout>
	
	</appender>
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSSS} | %X{reqId} | %p |%C
				\(%class{0}.java:%line\)|- %m%n
			</Pattern>
		</layout>
	</appender>
	<logger name="com.crestasom" level="debug" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="ch.qos.logback" level="warn" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>


	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>